.featured {
    height: 100vh;
}

.featured--vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured--horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 150px 30px;
}

.featured--name {
    font-size: 60px;
    font-weight: bold;
}

.featured--info {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.featured--year, .featured--year, .featured--seasons {
    display: inline-block;
    margin-right: 15px;
}

.featured--points {
    color: #43d369;
}

.featured--description {
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    max-width: 40%;
}

.featured-buttons {
    margin-top: 15px;
}

.featured--watchButton, .featured--mylistButton {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.featured--watchButton:hover, .featured--mylistButton:hover {
    opacity: 0.7;
    transition: all ease 0.25s;
}

.featured--watchButton {
    color: #000;
    background: #fff;
}

.featured--mylistButton {
    color: #fff;
    background: #333;
}

.featured--genres {
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}
