@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.lists {
  margin-top: -150px;
}

footer {
   margin: 50px 0;
   text-align: center;
}

footer a {
  color: #fff;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background-color: #111; /* Cor de fundo da área da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #e50914; /* Cor do polegar da barra de rolagem */
  border-radius: 4px; /* Arredondamento do polegar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b90911; /* Cor do polegar quando o mouse passa por cima */
}